body{
    padding: 0px;
    margin: 0px;
    width: 100vw;
}

.date-bar{
    background-color: #ffc107;
    padding: 0.4em;
    font-weight: bold;
    color: #fff;
    font-size: 0.9em;
}

.date-text{
    position: relative;
    left: 10%;
}

.logos{
    float: right;
    margin-right: 30px;
}

.logo{
    margin-left: 10px;
    margin-top: 0px;
}

.title-image{
    /* border: 1px solid black; */
    margin: 10px 90px;
    /* margin : 100px; */
}

img{
    width: 340px;
}

.menu-bar{
    background-color: #ffc107;
    padding: 1em;
    font-weight: bold;
    color: #000;
    font-size: 1.1em;
}

.menu-items{
    margin-left: 30px;
}

.menu-items a{
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.menu-items a:hover{
    color: #007bff;
}

.menu-items a:after{    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #007bff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.menu-items a:hover:after { 
    width: 100%; 
    left: 0;
}