body{
    padding: 0px;
    text-align: left;
    width: 100vw;
    font-family: 'Mukta', serif;
    box-sizing: border-box;
    margin-left: 0px;

}

.date-bar{
    background-color: #43c6ac;
    padding: 0.3em;
    font-weight: bold;
    color: #fff;
    font-size: 0.9em;
    left: 10%;
}

.date-text{
    position: relative;
    left: 10%;
}

.logos{
    float: right;
    margin-right: 30px;
}

.logo{
    margin-left: 10px;
    margin-top: 0px;
}

.title-image{
    /* border: 1px solid black; */
    margin: 10px 90px;
    /* margin : 100px; */
    left: 10%;
}

img{
    width: 340px;
}

.menu-bar{
    background-color: #43c6ac;
    padding: 0.75em;
    font-weight: bold;
    color: #000;
    font-size: 1.1em;
    left: 10%;
}

.menu-items{
    margin-left: 30px;
}

.menu-items a{
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.menu-items a:hover{
    color: #007bff;
}

.menu-items a:after{    
	background: none repeat scroll 50 1000 transparent;    	
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #007bff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menu-items a:hover:after { 
    width: 100%; 
    left: 0;
}

.trending-bar{
	margin-left: 0px ;
	position: relative;
	left: 0%;
	border-bottom: 1px solid #43c6ac;
	margin-bottom: 20px ;
	padding: 0 40px 20px ;
	border-left: 0px;
	
}
.hastags{
	margin-left: 30px;
	
	font-size: 1em;
	line-height: 2.5rem;


}
.hastags a{
	color: black;
	text-decoration: none;
}
.hastags a:hover{
	color: blue;
}

.hastags a:before{
	content: '#';
	color: gray;
}

.jpt{
	margin: 20px;
	margin-left: 50px;
	font-size: 0.75em;
	padding-bottom:  20px;
	border-bottom: 1px solid rgba(0,0,0,.1); 
	left: 10%;
}
.jpt a{
	color: black;
	margin-left: 3px;
	text-decoration: none;

}
.jpt a:hover{
	color: blue;
	text-decoration: underline;

}
.post{
	margin-left: 50px;
	display: flex;
	flex: 1 3;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,.1); 
}
.headline{
	margin-left: 20px;
	font-size: 3em;
	color: #333;
	margin-bottom: 20px;
	left: 10%;
}
.posted{
	font-size: 0.9em;

}
.posted a{
	color: black;
	text-decoration: none;
}
.shares{
	font-size: 1.2em;
	margin-right: 12px;
}
.sharee{
	font-size: 1.4em;
	margin-left:10px;

}
.social{
	display: flex;
	flex: 1 2;
	margin-left: 30px;
	font-size: 12px;
	font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;

}
.social a{
	text-decoration: none;
    display: inline-block;
    position: relative;

}
.social a:after{
	text-decoration: none;
}
.social a:hover:after{
	width: 50%;
	color: black;
	display: block;
	transition: 0 0.10s;
}
.socialite{
	border-radius: 1000px;
    min-width: 130px;
    margin: 0px 10px 0px 0px;
    padding: 15px 15px 15px;
    
    
}
.socialite img{
	width: 20px;
	position: relative;
	font-size: 1px;
	vertical-align: center;
	top: 5px;
	

}
.socialite[data-network="facebook"]{
	background-color: #4267B2;
	color:white;
	font-size: 1em;
	
}
.socialite[data-network="twitter"]{
	background-color: #55acee;
}
.socialite[data-network="gmail"]{
	background-color: #D44638;
}

.socialite[data-network="messenger"]{
	background-color: #4267B2;
}

.socialite[data-network="whatsapp"]{
	background-color: #25d366;
}

.featureimg{
	width: 100%;
}
p{
	color: #656565;
	margin-left: 30px;
	font-size: 20px;
	text-align: justify;
	
	

}	
p a{
	color: black;
	text-decoration: none;
}
.drive a{
	margin-left: 30px;
	color: gray;
}
.response{
	color:#17a2b8;
	margin-left: 30px;
	font-size: 1.5em;
}
.Comments{
	margin-left: 60px;
	border-bottom: 1px solid #BEC3C9;
	margin-bottom: 20px;
}
.line2{
	float: right;
	margin-right: 300px;
}
.Review{
	border-bottom: 1px solid #BEC3C9;
	margin-bottom: 20px;
	padding-bottom: 20px; 

}
._1ciimg{
	margin-left: 60px;
	width: 49px;
}
.add{
	vertical-align: top;
	top: 0px;
	color: black;
	font-size: 1em;
	border: 1px solid #d3d6db;
	padding: 0 900px 20px 0px;

}
.end{
	font-size: 2em;
	color: #1877F2;
	margin-top: 20px;
	margin-left: 50%;
}